.grid-container {
    display: flex;
    justify-content: center; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
    margin: 0;
    padding: 50px; 
  }
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    width: 10px;
}
  
  .table {
    
    border-collapse: collapse;
    border: #100f0f;
    width: 50%;
    font-size: small;
   
  }
    
  .core-column {
     width:200px;
     font-weight: bold;
     
  }
  .empty-cell{
    width: 20px;
  }
    .table td {
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    
  }
  .table th {
    margin: 0;
    color: white;
    border: 2px solid black;
    background-color: rgb(5, 54, 81);
    text-align: center;
    padding: 0px;
    
  }
  
  .diode-cell {
    background-color: blue; 
    cursor: pointer;
  }
  
  .unmasked-cell {
    background-color: yellow; 
    cursor: pointer;
  }